*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --ff-primary: "Kumbh Sans", sans-serif;
  --fs-body: 12px;
  --fw-title: 700;
  --fw-content: 400;

  --clr-f-dark: hsl(238, 29%, 16%);
  --clr-f-light: hsl(240, 6%, 50%);
  --clr-f-hover: hsl(14, 88%, 65%);
  --clr-divider: hsl(240, 5%, 91%);
  --clr-bg-first: hsl(273, 75%, 66%);
  --clr-bg-second: hsl(240, 73%, 65%);
  --clr-card: #fff;
}
html {
  background: linear-gradient(var(--clr-bg-first), var(--clr-bg-second));
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  display: grid;
  position: relative;
  place-items: center;
  width: 100vw;
  height: 100vh;
}
/* =================================================================
                                 LAYOUT
================================================================ */
.card {
  width: 50vw;
  min-width: 850px;
  height: 30vh;
  min-height: 500px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: var(--clr-card);
  margin: 0 auto;
  border-radius: 25px;
  /* overflow: hidden; */
  z-index: 50;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/* =================================================================
                                 STYLE CONTENT
================================================================ */
.content {
  width: 50%;
  height: min-content;
  font-family: var(--ff-primary);

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-self: flex-start;
  justify-self: center;
  position: relative;
  top: 16%;
}

.content-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-right: 30%;
  z-index: 1;
}
.content-items::after {
  /* divider */

  position: relative;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  z-index: 10;
  background: var(--clr-divider);
  color: var(--clr-divider);
}
.content h2 {
  position: relative;
  top: -20px;
  font-size: calc(var(--fs-body) + 1rem);
  color: var(--clr-f-dark);
  margin-bottom: 0px;
  padding: 10px;
}

.content-items h3,
.content-items p {
  font-size: var(--fs-body);
  font-weight: var(--fw-content);
  color: var(--clr-f-light);
}
.content-items h3 {
  /* margin: 4%; */
  font-size: calc(var(--fs-body) + .02rem);
  transition: color 0.1s ease-out;
}
.content-items:hover h3 {
  color: var(--clr-f-hover);
}
.content-items:hover .active {
  color: var(--clr-f-dark);
}
.content-items .title-bold {
  font-weight: 700;
  color: var(--clr-f-dark);
  /* color: red;   */
}
.content-items .item {
  margin: 5px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr max-content;
  align-items: center;
  column-gap: 1em;
}

.content-hidden {
  grid-column: 1 / -1;
  grid-row: 2 / -2;
  display: none;
  opacity: 0;
  visibility: hidden;
  /* transition: 0.2s ease-in-out; */
}

.content-visible {
  display: block;
  visibility: visible;
  opacity: 1;
}
.arrow-down {
  display: inline;
  object-fit: contain;
  transition: transform 250ms ease-in-out;
}
.arrow-down.up {
  transform: rotate(180deg);
}

/* =================================================================
                                 STYLE LOGO
================================================================ */
.logo {
  display: flex;
  width: 50%;
  position: relative;
  /* overflow: visible; */
}
.overflow {
  position: static;
  overflow: hidden;
  /* width: 50%; */
  /* background: red; */
}
.logo-box {
  position: absolute;
  width: 191px;
  height: 184px;
  left: -93px;
  top: 214px;
  object-fit: contain;
  overflow: visible;
  z-index: 10;
  transition: left 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);


}
.active-box {
  left: -145px;
}
.logo-front {
  width: 472px;
  height: 359px;
  position: relative;
  left: -80px;
  top: -85%;
}
.logo-back {
  /* width: 70%; */
  position: relative;
  height: 100%;
  left: -36%;
  top: 0;
  overflow: hidden;
}
.mobile-images {
  display: none;
}

/* =================================================================
                                 MEDIA QUERIES
================================================================ */

@media (max-width: 700px) {
  /* MOBILE LAYOUT */
  .card {
    width: 85vw;
    min-width: unset;
    height: 80vh;
    min-height: unset;
    position: relative;
    top: -10%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  /* MOBILE CONTENT */

  .content {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: relative;
    top: 20%;
    overflow: hidden;
  }
  .content-items {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 1;
  }

  .content h2 {
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    font-size: calc(var(--fs-body) + 1rem);
    color: var(--clr-f-dark);
    margin-bottom: 0px;
    /* padding: 10px; */
    padding-left: 5%;
    padding-right: 5%;
  }

  /* LOGO */
  .logo {
    display: flex;
    /* width: 50%; */
    position: relative;
    /* overflow: visible; */
  }
  .overflow {
    position: static;
    overflow: hidden;
    /* width: 50%; */
    /* background: red; */
  }

  .mobile-images {
    width: 100%;
    height: 100%;
    display: unset;
    position: relative;
    left: 0;
    right: -14%;
    top: 5%;
    margin: 0 auto;
    /* margin-right: 10%;
    margin-left: 10%; */
    z-index: 1000;
    overflow: hidden;
  }
  .logo-mobile {
    width: 100%;
    height: 100%;
    display: unset;
    position: relative;
    /* left: 5; */
    right: 5%;
    z-index: 100;
    object-fit: contain;
    overflow: hidden;
  }
  
  .logo-bg-mobile {
    /* width: 100%; */
    /* height: 100%; */
    display: unset;
    position: relative;
    object-fit: contain;
    /* top: -40%; */
    bottom: 57%;
    /* left: 15; */
    right: -25%;
    overflow: visible;
    z-index: 10;
  }

  .logo-back {
    display: none;
  }

  .logo-box {
    display: none;
  }
  .active-box {
    display: none;
    left: 0;
  }
  .logo-front {
    display: none;
  }
}
